body{
    background-color: #0D0D0D;
    color:#f9f6f6 !important;
    overflow: hidden;
}
.logo{
    width: 50px;
}
i{
    cursor: pointer ;
}

.side-nav-menu{
    z-index: 9999;
}
.nav-tab {
    background-color: #0D0D0D;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6;
    top: 100%;
    transition: 0.5s;

}

.meal:hover .meal-layer{
    top: 0;
}
.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}